.main-container {
    margin: 20px auto;
    display: flex;
    flex-flow: column nowrap;
    background: rgba(2, 2, 94, 0.856);
    width: 75%;
    border: 8px solid #111111;
    border-radius: 5px 10px 10px 5px;
    padding: 25px;
    box-shadow: 0px 0px 0px 8px #05050580, 0px 0px 0px 16px #a8a7a671;
  }
  
  .title-box,
  .image-box,
  .info-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
  }
  
  .main-title {
    text-transform: uppercase;
    color: #f1f2f5;
    text-decoration: none;
    margin-top: 0;
  }
  .img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px 10px 10px 5px;
  }
  
  .info-box {
    max-width: 950px;
    padding-right: 15px;
    text-align: left;
    color: #f4f4f5;
  }
  
  .info-box h2 {
    margin-bottom: 10px;
    /* font-size: px; */
  }
  
  .info-box p {
    margin: 10px 0 12px;
  }